<%= provide(:title, 'Plantilla') %> 
<h1><%=@team.name%>: Plantilla</h1>
<table id="tablaPlantilla" class="sortable">
  <thead>
  <tr><th>Pos</th><th>Nombre</th><th>Valoración</th><th>Edad</th><th>Altura</th><th>Valor</th><th>Dorsal</th></tr>
  </thead>
  <tbody>
  <%i=0%>
  <% @team.players.each do |p| %>
  <tr ><td sorttable_customkey=<%= getPositionOrder p.position %>><%= getPositionImage p.position %></td>
  	<td id="NombrePlantilla"><%=link_to p.name, p%></td>
  	<td color=<%=get100StatColor p.overallrating %> style="font-size: 20px;"><%=p.overallrating%></td>
  	<td><%=p.age%></td>
  	<td><%=p.height%></td>
  	<td sorttable_customkey=<%=getPrice p.overallrating%>>$<%=getPrice p.overallrating%>M</td>
  	<td><%=p.dorsal%></td></tr>
  	<% i=i+1 %>
  <%end %>
  </tbody>
</table>
