<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @team.emblem , size: "128x128" %>
        <%= @team.name %>
      </h1>
      <p>Presupuesto: $<%=  '%.4g' % (@team.money/1000000.0) %> Millones</p>
      <p>Valor del equipo: $<%=  calcularValor(@team)%> M</p>
      <p>Valoración Promedio (Top 11): <%=  calcularPromedio(@team)%> ( <%=  calcularTop11(@team)%> )</p>
      <p>Torneos Ganados: <%=  calcularTorneos(@team)%></p>
      
    </section>
    <div class="teamButtons">
    <%= button_to "Plantilla", {:action => "plantilla"}, :class => "botonSinEspacios btn btn-small btn-primary" %>
    <%= button_to "Goleadores", {:action => "strikers"}, :class => "botonSinEspacios btn btn-small btn-primary" %>
    </div>
  </aside>
</div>