<%= provide(:title, 'Goleadores') %> 
<h1><%=@team.name%>: Goleadores</h1>

<table id="tablaStrikers" class="sortable">
  <thead>
  <tr><th>Jugador</th><th>Goles</th><th>I</th><th>II</th><th>III</th><th>IV</th><th>V</th><th>VI</th><th>VII</th><th>X</th><th>XI</th><th>XII</th><th>XIII</th><th>XIV</th><th>XV</th></tr>
  </thead>
  <tbody>
  <% (@strikers.sort { |x, y| y.goals <=> x.goals }).each do |s| %>
  <tr>
  	<td><%= s.name %></td>
  	<td><%= s.goals %></td>
  	<td><%= s.I %></td>
  	<td><%= s.II %></td>
  	<td><%= s.III %></td>
  	<td><%= s.IV %></td>
  	<td><%= s.V %></td>
  	<td><%= s.VI %></td>
  	<td><%= s.VII %></td>
  	<td><%= s.X %></td>
  	<td><%= s.XI %></td>
  	<td><%= s.XII %></td>
  	<td><%= s.XIII %></td>
  	<td><%= s.XIV %></td>
  	<td><%= s.XV %></td>
  </tr>
  <% end %>
  </tbody>
</table>