<h1>Goleadores</h1>

<div class="bs-docs-example">
            <ul class="nav nav-pills"> 
            	<li class="active"><%= link_to "Por Jugador", '/strikers/byPlayer'%></li>
              <li class="dropdown">
                <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Por Equipo <b class="caret"></b></a>
                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                  <% teams=Team.all%>
              			<% (teams.sort { |x, y| x.name <=> y.name }).each do |t|%>
                			<li><%= link_to t.name, "/teams/#{t.id}/strikers" %></li>
               	 		<%end%>
             
                </ul>
              </li>
              
            </ul> <!-- /tabs -->
          </div>
          

<table id="tablaStrikers" class="sortable">
  <thead>
  <tr><th>Jugador</th><th>Equipo</th><th>Goles</th><th>I</th><th>II</th><th>III</th><th>IV</th><th>V</th><th>VI</th><th>VII</th><th>X</th><th>XI</th><th>XII</th><th>XIII</th><th>XIV</th></tr>
  </thead>
  <tbody>
  <% (@strikers.sort { |x, y| y.goals <=> x.goals }).each do |s| %>
  <tr>
  	<td><%= s.name %></td>
  	<td><%= s.team %></td>
  	<td><%= s.goals %></td>
  	<td><%= s.I %></td>
  	<td><%= s.II %></td>
  	<td><%= s.III %></td>
  	<td><%= s.IV %></td>
  	<td><%= s.V %></td>
  	<td><%= s.VI %></td>
  	<td><%= s.VII %></td>
  	<td><%= s.X %></td>
  	<td><%= s.XI %></td>
  	<td><%= s.XII %></td>
  	<td><%= s.XIII %></td>
  	<td><%= s.XIV %></td>
  </tr>
  <% end %>
  </tbody>
</table>