
<tr>
  <td sorttable_customkey=<%= getPositionOrder player.position %>><%= getPositionImage player.position %></td>	
  <td><%= link_to player.name, player %></td>
  <td><%= player.club %></td>
  <td><%= player.nationality %></td>
  <td><%= player.age %></td>
  <td><%= player.overallrating %></td>
  <td sorttable_customkey=<%=getPrice player.overallrating%>>$<%=getPrice player.overallrating%>M</td>
</tr>