<%= provide(:title, 'Jugadores') %>
<h1>Jugadores</h1>


<%= form_tag('/players', :method => :get) do %>   
 <p>   
<h3>Nombre:</h3>   
<%= text_field_tag :name %>  


<div class="form_row" id="buscarPosiciones">
    <h3>Posición:</h3>  
	<div id="posicionesCheckBox">
	<div>
		<div><%= getPositionImage "GK" %></div>
		<div><%= getPositionImage "CB" %></div>	
		<div><%= getPositionImage "SWP" %></div>	
		<div><%= getPositionImage "LB" %></div>	
		<div><%= getPositionImage "RB" %></div>	
		<div><%= getPositionImage "DMF" %></div>	
		<div><%= getPositionImage "CMF" %></div>	
		<div><%= getPositionImage "LMF" %></div>	
		<div><%= getPositionImage "RMF" %></div>	
		<div><%= getPositionImage "AMF" %></div>	
		<div><%= getPositionImage "LWF" %></div>
		<div><%= getPositionImage "RWF" %></div>
		<div><%= getPositionImage "SS" %></div>
		<div><%= getPositionImage "CF" %></div>		
	</div>
	<div>
 	<div><%= check_box "position", 'PT', :checked => ((!params[:position].nil?) and params[:position][:PT]=="1" ) %></div>
    <div><%= check_box "position", 'DC', :checked => ((!params[:position].nil?) and params[:position][:DC]=="1" ) %></div>
    <div><%= check_box "position", 'LIB', :checked => ((!params[:position].nil?) and params[:position][:LIB]=="1" ) %></div>
    <div><%= check_box "position", 'LI', :checked => ((!params[:position].nil?) and params[:position][:LI]=="1" ) %></div>
    <div><%= check_box "position", 'LD', :checked => ((!params[:position].nil?) and params[:position][:LD]=="1" ) %></div>
    <div><%= check_box "position", 'MCD', :checked => ((!params[:position].nil?) and params[:position][:MCD]=="1" ) %></div>
    <div><%= check_box "position", 'MC', :checked => ((!params[:position].nil?) and params[:position][:MC]=="1" ) %></div>
    <div><%= check_box "position", 'II', :checked => ((!params[:position].nil?) and params[:position][:II]=="1" ) %></div>
    <div><%= check_box "position", 'ID', :checked => ((!params[:position].nil?) and params[:position][:ID]=="1" ) %></div>
    <div><%= check_box "position", 'MP', :checked => ((!params[:position].nil?) and params[:position][:MP]=="1" ) %></div>
    <div><%= check_box "position", 'EI', :checked => ((!params[:position].nil?) and params[:position][:EI]=="1" ) %></div>
    <div><%= check_box "position", 'ED', :checked => ((!params[:position].nil?) and params[:position][:ED]=="1" ) %></div>
    <div><%= check_box "position", 'SD', :checked => ((!params[:position].nil?) and params[:position][:SD]=="1" ) %></div>
    <div><%= check_box "position", 'CF', :checked => ((!params[:position].nil?) and params[:position][:CF]=="1" ) %></div>
    </div>
    
    </div>
	<div id="modoDeBusquedaPos">
    <%= label_tag  "modo de busqueda:"%>  
	<%= radio_button "position", "orsearch", "1" , :checked => (params[:position].nil? or params[:position][:orsearch]=="1")  %> O
	<%= radio_button "position", "orsearch", "0" , :checked => ((!params[:position].nil?) and params[:position][:orsearch]=="0" )%> Y
	</div>
    
</div> 
</p>   
<p class="button"><%= submit_tag "Buscar"  %> </p>   
<% end %>  

<%= will_paginate @players %>
<ul class="players">
  <%= render @players %>
</ul>

<%= will_paginate @players%>