<%= provide(:title, 'Jugadores') %>
<h1>Jugadores</h1>


<%= form_tag('/players', :method => :get) do %>   
 <p>   
<h4>Nombre</h4>   
<%= text_field_tag :name, nil,value: params[:name] %>  


<div class="form_row" id="buscarPosiciones">
    <h4>Posición</h4>  
	<div id="posicionesCheckBox">
	<div>
		<div><%= getPositionImage "GK" %></div>
		<div><%= getPositionImage "CB" %></div>	
		<div><%= getPositionImage "LB" %></div>	
		<div><%= getPositionImage "RB" %></div>	
		<div><%= getPositionImage "DMF" %></div>	
		<div><%= getPositionImage "CMF" %></div>	
		<div><%= getPositionImage "LMF" %></div>	
		<div><%= getPositionImage "RMF" %></div>	
		<div><%= getPositionImage "AMF" %></div>	
		<div><%= getPositionImage "LWF" %></div>
		<div><%= getPositionImage "RWF" %></div>
		<div><%= getPositionImage "SS" %></div>
		<div><%= getPositionImage "CF" %></div>		
	</div>
	<div>
 	<div><%= check_box "position", 'PT', :checked => ((!params[:position].nil?) and params[:position][:PT]=="1" ) %></div>
    <div><%= check_box "position", 'DC', :checked => ((!params[:position].nil?) and params[:position][:DC]=="1" ) %></div>
    <div><%= check_box "position", 'LI', :checked => ((!params[:position].nil?) and params[:position][:LI]=="1" ) %></div>
    <div><%= check_box "position", 'LD', :checked => ((!params[:position].nil?) and params[:position][:LD]=="1" ) %></div>
    <div><%= check_box "position", 'MCD', :checked => ((!params[:position].nil?) and params[:position][:MCD]=="1" ) %></div>
    <div><%= check_box "position", 'MC', :checked => ((!params[:position].nil?) and params[:position][:MC]=="1" ) %></div>
    <div><%= check_box "position", 'II', :checked => ((!params[:position].nil?) and params[:position][:II]=="1" ) %></div>
    <div><%= check_box "position", 'ID', :checked => ((!params[:position].nil?) and params[:position][:ID]=="1" ) %></div>
    <div><%= check_box "position", 'MP', :checked => ((!params[:position].nil?) and params[:position][:MP]=="1" ) %></div>
    <div><%= check_box "position", 'EI', :checked => ((!params[:position].nil?) and params[:position][:EI]=="1" ) %></div>
    <div><%= check_box "position", 'ED', :checked => ((!params[:position].nil?) and params[:position][:ED]=="1" ) %></div>
    <div><%= check_box "position", 'SD', :checked => ((!params[:position].nil?) and params[:position][:SD]=="1" ) %></div>
    <div><%= check_box "position", 'CF', :checked => ((!params[:position].nil?) and params[:position][:CF]=="1" ) %></div>
    </div>
    
    </div>
	<div id="modoDeBusquedaPos">
    <%= label_tag  "modo de busqueda:"%>  
	<%= radio_button "position", "orsearch", "1" , :checked => (params[:position].nil? or params[:position][:orsearch]=="1")  %> O
	<%= radio_button "position", "orsearch", "0" , :checked => ((!params[:position].nil?) and params[:position][:orsearch]=="0" )%> Y
	</div>
    <div id="busquedaEdad">
   		<h4>Edad</h4>  
   		<div>
   		<%= label_tag  "mín:"%>  
		<%= text_field_tag :agemin ,nil,value: params[:agemin] %> 
		<%= label_tag  "máx:"%>  
		<%= text_field_tag :agemax ,nil,value: params[:agemax] %> 
		</div> 
   	</div>
   	<div id="busquedaRating">
   		<h4>Valoración</h4>  
   		<div>
   		<%= label_tag  "mín:"%>  
		<%= text_field_tag :ratmin ,nil,value: params[:ratmin] %> 
		<%= label_tag  "máx:"%>  
		<%= text_field_tag :ratmax ,nil,value: params[:ratmax] %> 
		</div> 
   	</div>
   	<div id="ordenJugadores">
    <h4>Ordenar por:</h4>
    <li>
    	<p>Pos</p>
    	<%= radio_button "player", "order", "posicionA" , :checked => (!params[:player].nil? and params[:player][:order]=="posicionA")  %> Asc
    	<%= radio_button "player", "order", "posicionD" , :checked => (!params[:player].nil? and params[:player][:order]=="posicionD")  %> Desc
    </li> 
    <li>
    	<p>Nombre</p>
    	<%= radio_button "player", "order", "nombreA" , :checked => (params[:player].nil? or params[:player][:order]=="nombreA")  %> Asc
    	<%= radio_button "player", "order", "nombreD" , :checked => (!params[:player].nil? and params[:player][:order]=="nombreD")  %> Desc
    </li>  
    <li>
    	<p>Edad</p>
    	<%= radio_button "player", "order", "edadA" , :checked => (!params[:player].nil? and params[:player][:order]=="edadA")  %> Asc
    	<%= radio_button "player", "order", "edadD" , :checked => (!params[:player].nil? and params[:player][:order]=="edadD")  %> Desc
    </li>  
    <li>
    	<p>Nac</p>
    	<%= radio_button "player", "order", "nacionalidadA" , :checked => (!params[:player].nil? and params[:player][:order]=="nacionalidadA")  %> Asc
    	<%= radio_button "player", "order", "nacionalidadD" , :checked => (!params[:player].nil? and params[:player][:order]=="nacionalidadD")  %> Desc
    </li>  
    <li>
    	<p>Valoración</p>
    	<%= radio_button "player", "order", "valoracionA" , :checked => (!params[:player].nil? and params[:player][:order]=="valoracionA")  %> Asc
    	<%= radio_button "player", "order", "valoracionD" , :checked => (!params[:player].nil? and params[:player][:order]=="valoracionD")  %> Desc
    </li>  
    <li>
    	<p>Club</p>
    	<%= radio_button "player", "order", "clubA" , :checked => (!params[:player].nil? and params[:player][:order]=="clubA")  %> Asc
    	<%= radio_button "player", "order", "clubD" , :checked => (!params[:player].nil? and params[:player][:order]=="clubD")  %> Desc
    </li>  
     
	</div>
</div> 
</p>   
<p class="button"><%= submit_tag "Buscar"  %> </p>   
<% end %>  

<%= will_paginate @players %>
<table id="playersList" class="sortable">
	<thead>
	<tr>
		<th>Posición</th><th>Nombre</th><th>Club</th><th>Nacionalidad</th><th>Edad</th><th>Valoración</th><th>Precio</th>
	</th>
	</thead>
	<tbody>
 		<%= render @players %>
  	</tbody>	
</table>

<%= will_paginate @players%>