<table class="PlayerContaint" >
	<td class="PlayerButtons"> 
	<% if !current_user.team.nil? -%>
	
		<% if @player.team.nil? -%>
			<form action=<%= "#{@player.id}/purchase"%>  method="post">
				<input type="submit" value="Comprar" class="btn btn-large btn-primary" data-confirm="¿Comprar por $<%= getPrice @player.overallrating%>M?">
			</form> 
		<% elsif @player.team == current_user.team -%>
			<form action=<%= "#{@player.id}/sell"%>  method="post">
				<input type="submit" value="Vender por $<%= getSellingPrice @player.overallrating%>M" class="btn btn-large btn-primary" data-confirm="¿Vender por $<%= getSellingPrice @player.overallrating%>M?">
			</form> 
		<% else -%>
			<form action="/bids"  method="post" id:"bid_form">
				<input type="hidden" name="bid[player]" value="<%= @player.id %>"/>
				<label> Oferta en pesos: </label>
				<input type="text" name="bid[money]" />
				<label> Mensaje para el club: </label>
				<textarea cols="20" id="bid_description" name="bid[description]" placeholder="Escribe un mensaje" rows="5"></textarea>
				<input type="submit" value="Ofertar" class="btn btn-large btn-primary">
			</form> 
		<% end -%>
	<% end -%> </td>
	<td>
	<table class="HeadPlayerTable">
		<tr>
			
			<td rowspan="4" ><table class="PosPlayerTable">
		<tr>
			<td style=<%="height:30px;width:30px;" << (getPosStyle @player , "LWF")%>></td>
			<td style=<%="height:30px;width:60px;" << (getPosStyle @player , "CF")%>></td>
			<td style=<%="height:30px;width:30px;" << (getPosStyle @player , "RWF")%>></td>
		</tr>	
		<tr>
			<td style=<%="height:30px;width:30px;" << (getPosStyle @player , "LWF")%>></td>
			<td style=<%="height:30px;width:60px;" << (getPosStyle @player , "SS")%>></td>
			<td style=<%="height:30px;width:30px;" << (getPosStyle @player , "RWF")%>></td>
		</tr>
		<tr>
			<td style=<%="height:20px;width:30px;" << (getPosStyle @player , "LMF")%>></td>
			<td style=<%="height:20px;width:60px;" << (getPosStyle @player , "AMF")%>></td>
			<td style=<%="height:20px;width:30px;" << (getPosStyle @player , "RMF")%>></td>
		</tr>
		<tr>
			<td style=<%="height:20px;width:30px;" << (getPosStyle @player , "LMF")%>></td>
			<td style=<%="height:20px;width:60px;" << (getPosStyle @player , "CMF")%>></td>
			<td style=<%="height:20px;width:30px;" << (getPosStyle @player , "RMF")%>></td>
		</tr>
		<tr>
			<td style=<%="height:20px;width:30px;" << (getPosStyle @player , "LMF")%>></td>
			<td style=<%="height:20px;width:60px;" << (getPosStyle @player , "DMF")%>></td>
			<td style=<%="height:20px;width:30px;" << (getPosStyle @player , "RMF")%>></td>
		</tr>
		<tr>
			<td style=<%="height:45px;width:30px;" << (getPosStyle @player , "LB")%>></td>
			<td style=<%="height:45px;width:60px;" << (getPosStyle @player , "CB")%>></td>
			<td style=<%="height:45px;width:30px;" << (getPosStyle @player , "RB")%>></td>
		</tr>
		<tr>
			<td style=<%="height:15px;width:30px;" << (getPosStyle @player , "LB")%>></td>
			<td style=<%="height:15px;width:60px;" << (getPosStyle @player , "GK")%>></td>
			<td style=<%="height:15px;width:30px;" << (getPosStyle @player , "RB")%>></td>
		</tr>
	</table></td>
		<td style="height:50px;" colspan="6" class="PlayerName"><%= @player.name %></td>
		</tr>
		<tr style="height:50px">
			<td colspan="2" class="PlayerPosition"><%= getPositionImage @player.position %></td>
			<td colspan="2" class=<%= ratingColor @player.overallrating %>><%= @player.overallrating %></td>
			<td colspan="2" class="PlayerPrice">$<%= getPrice @player.overallrating %> M</td>
		</tr>
		<tr style="height:50px">
			<td colspan="4" class="PlayerNacAgeClub">Nac: <%= @player.nationality %></td>
			<td colspan="2" class="PlayerNacAgeClub">Edad: <%= @player.age %></td>
		</tr>
		<tr>
			<td colspan="4" class="PlayerNacAgeClub">Club: <%= @player.club %></td>
			<td  colspan="2" class="playerFeet"><%= if @player.strongerFoot == "Right" then image_tag "/assets/der.png" else image_tag "/assets/izq.png" end%> </td>

		</tr>
		
	</table>
	<table class="CombinedStatPlayerTable">
		<tr>
			<td>Fuerza física</td>
			<td class=<%= get100StatStyle getPhysicalStrength @player%>><%= getPhysicalStrength @player %> </td>
			<td>Cobertura</td>
			<td class=<%= get100StatStyle getCovering @player%>><%= getCovering @player %> </td>
		</tr>
		<tr>
			<td>Poderío aéreo</td>
			<td class=<%= get100StatStyle getStrengthInTheAir @player%>><%= getStrengthInTheAir @player %> </td>
			<td>Precisión pase largo</td>
			<td class=<%= get100StatStyle getLongballAccuracy @player%>><%= getLongballAccuracy @player %> </td>
		</tr>
		<tr>
			<td>Velocidad y agilidaad</td>
			<td class=<%= get100StatStyle getSpeedAndAgility @player%>><%= getSpeedAndAgility @player %> </td>
			<td>Tiro libre</td>
			<td class=<%= get100StatStyle getFreeKick @player%>><%= getFreeKick @player %> </td>
		</tr>
		<tr>
			<td>Saques de esquina</td>
			<td class=<%= get100StatStyle getCornerKick @player%>><%= getCornerKick @player %> </td>
			<td>Penales</td>
			<td class=<%= get100StatStyle getPenalties @player%>><%= getPenalties @player %> </td>
		</tr>
		<% if @player.position != 'GK'%>
		<tr>
			<td>Instinto de gol</td>
			<td class=<%= get100StatStyle getScoringInstinct @player%>><%= getScoringInstinct @player %> </td>
			<td>Cabeza</td>
			<td class=<%= get100StatStyle getHeader @player%>><%= getHeader @player %> </td>
		</tr>
		<tr>
			<td>Retención del balón</td>
			<td class=<%= get100StatStyle getBallRetention @player%>><%= getBallRetention @player %> </td>
			<td>Esquivez</td>
			<td class=<%= get100StatStyle getElusiveness @player%>><%= getElusiveness @player %> </td>
		</tr>
		<tr>
			<td>Velocidad de regate</td>
			<td class=<%= get100StatStyle getDribbleSpeed @player%>><%= getDribbleSpeed @player %> </td>
			<td>Posesión final</td>
			<td class=<%= get100StatStyle getFinalBall @player%>><%= getFinalBall @player %> </td>
		</tr>
		<tr>
			<td>Visión</td>
			<td class=<%= get100StatStyle getVision @player%>><%= getVision @player %> </td>
			<td>Penetración</td>
			<td class=<%= get100StatStyle getPenetration @player%>><%= getPenetration @player %> </td>
		</tr>
		<tr>
			<td>Media de trabajo</td>
			<td class=<%= get100StatStyle getWorkRate @player%>><%= getWorkRate @player %> </td>
			<td>Interceptación</td>
			<td class=<%= get100StatStyle getIntercepting @player%>><%= getIntercepting @player %> </td>
		</tr>
		<%else%>
		<tr>
			<td>Merodeo</td>
			<td class=<%= get100StatStyle getMarauding @player%>><%= getMarauding @player %> </td>
			<td>Atajar bolas altas</td>
			<td class=<%= get100StatStyle getHandlingHighBalls @player%>><%= getHandlingHighBalls @player %> </td>
		</tr>
		<tr>
			<td>1 contra 1 </td>
			<td class=<%= get100StatStyle getOneOnOne @player%>><%= getOneOnOne @player %> </td>
			<td>Habilidad fuera del arco</td>
			<td class=<%= get100StatStyle getOutfieldSkills @player%>><%= getOutfieldSkills @player %> </td>
		</tr>
		<tr>
			<td>Consistencia</td>
			<td class=<%= get100StatStyle getConsistency @player%>><%= getConsistency @player %> </td>
			<td></td>
			<td ></td>
		</tr>
		<%end%>
		
	</table>
	<table class="StatPlayerTable">
		<tr>
			<td>Altura</td>
			<td class="WhiteStatNumber"><%= @player.height %> </td>
			<td>Peso</td>
			<td class="WhiteStatNumber"><%= @player.weight %> </td>
		</tr>
		<tr>
			<td>Ataque</td>
			<td class=<%= get100StatStyle @player.attackingProwess%>><%= @player.attackingProwess %></td>
			<td>Velocidad</td>
			<td class=<%= get100StatStyle @player.speed%>><%= @player.speed %> </td>
		</tr>
		<tr>
			<td>Control de balón</td>
			<td class=<%= get100StatStyle @player.ballControl%>><%= @player.ballControl %> </td>
			<td>Fuerza explosiva</td>
			<td class=<%= get100StatStyle @player.explosivePower%>><%= @player.explosivePower %> </td>
		</tr>
		<tr>
			<td>Regate</td>
			<td class=<%= get100StatStyle @player.dribbling%>><%= @player.dribbling %> </td>
			<td>Equilibrio</td>
			<td class=<%= get100StatStyle @player.bodyBalance%>><%= @player.bodyBalance %> </td>
		</tr>
		<tr>
			<td>Pase raso</td>
			<td class=<%= get100StatStyle @player.lowPass%>><%= @player.lowPass %> </td>
			<td>Salto</td>
			<td class=<%= get100StatStyle @player.jump%>><%= @player.jump %> </td>
		</tr>
		<tr>
			<td>Pase bombeado</td>
			<td class=<%= get100StatStyle @player.loftedPass%>><%= @player.loftedPass %> </td>
			<td>Capac. de portero</td>
			<td class=<%= get100StatStyle @player.goalkeeping%>><%= @player.goalkeeping %> </td>
		</tr>
		<tr>
			<td>Finalización</td>
			<td class=<%= get100StatStyle @player.finishing%>><%= @player.finishing %> </td>
			<td>Paradas</td>
			<td class=<%= get100StatStyle @player.saving%>><%= @player.saving %> </td>
		</tr>
		<tr>
			<td>Balón parado</td>
			<td class=<%= get100StatStyle @player.placeKicking%>><%= @player.placeKicking %> </td>
			<td>Fort. mental</td>
			<td class=<%= get100StatStyle @player.tenacity%>><%= @player.tenacity %> </td>
		</tr>
		<tr>
			<td>Control con giro</td>
			<td class=<%= get100StatStyle @player.controlledSpin%>><%= @player.controlledSpin %> </td>
			<td>Resistencia</td>
			<td class=<%= get100StatStyle @player.stamina%>><%= @player.stamina %> </td>
		</tr>
		<tr>
			<td>Cabeza</td>
			<td class=<%= get100StatStyle @player.header%>><%= @player.header %> </td>
			<td>Regularidad</td>
			<td class="WhiteStatNumber"><%= @player.form %> </td>
		</tr>
		<tr>
			<td>Defensa</td>
			<td class=<%= get100StatStyle @player.defensiveProwess%>><%= @player.defensiveProwess %> </td>
			<td>Resist. a lesiones</td>
			<td class=<%= get3StatStyle @player.injuryTolerance%>><%= @player.injuryTolerance %> </td>
		</tr>
		<tr>
			<td>Recup. de balón</td>
			<td class=<%= get100StatStyle @player.ballWinning%>><%= @player.ballWinning %> </td>
			<td>Uso pie malo</td>
			<td class="WhiteStatNumber"><%= @player.weakFootUsage %> </td>
		</tr>
		<tr>
			<td>Potencia de tiro</td>
			<td class=<%= get100StatStyle @player.kickingPower%>><%= @player.kickingPower %> </td>
			<td>Prec. pie malo</td>
			<td class="WhiteStatNumber"><%= @player.weakFootAccuracy %> </td>
		</tr>
		
	</table>
	</td>
</table>
