<%= provide(:title, @tournament.name) %> 
<h1><%=@tournament.name%></h1>
<h2>Campeón</h2> <h3><%=@tournament.winner%></h3>
<h2>Goleador</h2> <h3><%=@tournament.scorer%></h3>
<h2>Posiciones</h2>
<table id="tablaPlantilla" class="sortable">
  <thead>
  <tr><th>POS</th><th>EQUIPO</th><th>PJ</th><th>PG</th><th>PE</th><th>PP</th><th>GF</th><th>GC</th><th>DG</th><th>PTS</th><th>PREMIO</th></tr>
  </thead>
  <tbody>
  <% @tournament.standings.each do |s| %>
  <tr>
  	<td><%= s.position %></td>
  	<td><%= s.teamname %></td>
  	<td><%= s.played %></td>
  	<td><%= s.won %></td>
  	<td><%= s.draw %></td>
  	<td><%= s.lost %></td>
  	<td><%= s.goalsfor %></td>
  	<td><%= s.goalsagainst %></td>
  	<td><%= s.goalsfor - s.goalsagainst %></td>
  	<td><%= s.points %></td>
  	<td>$<%= (s.prize/1E6).round(2) %>M</td>
  </tr>
  <% end %>
  </tbody>
</table>

<h2>Enfrentamientos</h2>
<table id="tablaPlantilla" class="sortable">
  <thead>
  <tr><th>LOCAL</th><th> </th><th> </th><th>VISITANTE</th></tr>
  </thead>
  <tbody>
  <% (getClashes @tournament).each do |c| %>
  <tr>
  	<td><%= c.team1 %></td>
  	<td><%= c.goals1 %></td>
  	<td><%= c.goals2 %></td>
  	<td><%= c.team2 %></td>
  </tr>
  <% end %>
  </tbody>
</table>