<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TDT WEB", root_path, id: "logo" %>
      <nav>
        <ul class="  nav pull-right">
        	
          <li><%= link_to "Inicio",    root_path %></li>
          <% if signed_in? %>
             <li><%= link_to "Usuarios", users_path%></li>
             <li><%= link_to "Jugadores", players_path %></li>
             <li><%= link_to "Equipos", teams_path %></li>
              	 
             <li><li><%= if !current_user.team.nil? and current_user.team.hasUnreadNews then
              			 link_to "Noticias", news_index_path,:id => "RedColorMenu" 
             			else
             			link_to "Noticias", news_index_path
             	 end %></li></li>
             	 
     		<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Estadísticas<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              	
              	<li><%= link_to "Goleadores", strikers_path%></li>
              	
              	<li id="fat-menu" class="dropdown-submenu"><a href="#"> Torneos </a>
              		<ul id="TournamentSubmenu" class="dropdown-menu">
              			<% tournament=Tournament.all%>
              			<% (tournament.sort { |x, y| x.created_at <=> y.created_at }).each do |t|%>
                			<li><%= link_to t.name, t %></li>
               	 		<%end%>
              		</ul>
            	</li>	     	
              </ul>
            </li>	
             	 
             <% unless current_user.team.nil? %>
             	<li id="fat-menu" class="dropdown">
             	<a <% if current_user.team.hasNewBids  %>
              		id="RedColorMenu" 
             	<% end %> 
             		href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.team.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mi Equipo", current_user.team %></li>
                <li><%= link_to "Editar", edit_team_path(current_user.team) %></li>
                <li><%= link_to "Plantilla", "/teams/#{current_user.team.id}/plantilla" %></li>
                <li><%= if current_user.team.hasNewBids 
              			 link_to "Negociaciones", "/teams/#{current_user.team.id}/negotiations",:id => "RedColorMenu" 
             			else
             			link_to "Negociaciones", "/teams/#{current_user.team.id}/negotiations"
             	 end %> 
             	</li>
              </ul>
            </li>
             	
             <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "#{current_user.name} #{current_user.lastname}"%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                 <% if current_user.team.nil? %>
               		<li><%= link_to "Crear Equipo", new_team_path %></li>
               	<% end %>
                <li><%= link_to "Ajustes", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Salir", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>